.slicknav_menu {
    display: none;
}

.slicknav_menu {
    font-size: 16px;
    box-sizing: border-box;
    background: #477d20;
    padding: 5px;
}

.slicknav_btn {
    background-color: #2d6108;
}

.pull-right {
    float: right;
}

.home-section h1 {
    font-family: "Raleway", sans-serif !important;
    color: #2e5f09;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.partner img {
    width: 100%;
}

.ft-main {
    color: #8ac344
}

.smart-forms .header-lite {
    background: #F3F5FA;
    border-top: 1px solid #56930a;
    border-bottom: 1px solid #D9DDE5;
}

.smart-forms .header-lite:before {
    content: "";
    background-color: #8bc443;
    position: absolute;
    height: 8px;
    z-index: 1;
    top: 0px;
    right: 0;
    left: 0;
}

.home-section .partner a {
    color: #fff;
}

.home-section .partner__item {
    padding: 0px 0px;
    margin-bottom: 10px;
}

.header__holo {
    width: 100%;
    z-index: 9;
    position: absolute;
    background: #669940 !important;
    color: #ffffff !important;
}

.header {
    font-weight: 500;
    font-size: 14px;
    height: 70px;
}

.header__logo {
    background: transparent;
}

.header .nav a {
    color: #fff;
}

.navigation {
    float: right;
    padding: 25px;
}

.navigation li {
    list-style: none;
    float: right;
    margin-left: 25px
}

.header__logo img {
    width: 100%;
    margin-bottom: 8px;
}

.hero {
    position: relative;
}

.hero.home-section {
    padding: 0px 0!important;
}

.quick-btn {
    position: absolute;
    bottom: 10%;
    left: 15%;
}

.quick-btn a {
    color: #fff;
    padding: 12px 10px;
    border-radius: 3px;
}

.quick-btn i {
    margin-right: 5px;
}

.bar {
    padding: 2px;
    background-color: #a8d05b;
}

.btn3 a {
    background-color: #47c5a4;
}

.btn2 a {
    background-color: #94c743;
    color: #fff;
}

.btn1 a {
    background-color: #f7b231;
    color: #fff;
}

.btn4 a {
    background-color: #679940;
}

.btn3 a:hover {}

.btn2 a {
    background-color: #94c743;
}

.btn1 a {
    background-color: #f7b231;
}

.btn4 a {
    background-color: #679940;
    color: #fff;
}

.btn4 input {
    background-color: #679940;
    color: #fff;
    padding: 6px 20px;
    border: none;
}

.feat-camp {
    background-color: #fff;
    padding-bottom: 10px;
}

.feat-camp .title {
    background-color: rgba(39, 39, 39, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.feat-camp .title h1 {
    font-size: 15px;
    color: #fff;
    margin: 0;
}

.feat-camp .title h1 .partner {
    font-size: 10px;
    text-align: left!important;
}

.feat-camp .camp-img {
    position: relative;
}

.campaign-img figure {
    position: relative;
}

.campaign-img figure .fa {
    position: absolute;
    top: 0;
    right: 0;
}

.campaign-img figure .fa {
    color: #ff3131;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .9);
    padding: 7px 8px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    z-index: 500;
}

.donate .btn2-outline {
    margin: 5px 0px;
}

.donate a {
    color: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    margin: 5px;
}

.feat-camp .donate a {
    width: 90% !important;
    text-align: center;
    margin: 0 auto;
}

.btn2-outline a {
    background-color: transparent;
    border: 1px solid #f7b231;
    color: #f7b231 !important;
}

.donate .btn2-outline {
    margin: 7px 0px;
}

.feat-camp p {
    font-size: 13px;
    padding: 9px;
}

.btn-light-outline {
    border: 1px #afafaf solid;
    color: #969393;
}

.quick-donate {
    background-color: #8ac344;
    border-radius: 10px;
    padding-bottom: 15px;
}

.quick-donate small {
    color: #fff!important;
    font-size: 0.5em !important;
}
/* foodstamp download section */

.fs-section {
    background-color: #fff;
    padding: 0 0 10px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.fs-section2 {
    margin-left: 10px;
    background-color: #fff;
    padding: 0 0 10px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.fs-section .top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(251, 251, 251);
    padding: 1em 1em;
    color: #466d09;
    border-bottom: 1px dashed #e4e4e4;
    font-weight: 500;
    margin-bottom: 10px;
}

.fs-section form {
    margin: 0 auto;
    float: none;
    margin-bottom: 3em;
    padding: 0px 2em;
}

.fs-section form .btn {
    background-color: #679940 !important;
    border-color: #539620;
    color: #fff;
}

.fs-section2 li {
    padding: 16px 0px;
    background-color: #efefef;
    margin: 0 auto;
    list-style: none;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    margin-bottom: 10px;
}

.fs-section2 ul {
    padding: 10px;
    height: 210px;
    overflow: scroll;
}

.fs-section2 ul .dl-btn,
.fs-section2 ul .mail-btn {
    font-size: 10px;
    padding: 5px 8px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    margin-right: 5px;
}

.fs-section2 ul .fs-dl {
    color: #507713;
    font-size: 20px;
    font-weight: bold;
    padding-left: 6px;
}

.fs-section2 ul .dl-btn {
    background-color: #507713;
}

.fs-section2 ul .mail-btn {
    background-color: #f7b231;
}

.fs-msg {
    text-align: center;
    padding: 30px;
}

.fs-msg h1 {
    font-weight: bold;
    margin: 0;
    line-height: 30px;
    font-size: 3em;
    color: #507713;
    margin-bottom: 5px;
}
/* End foodstamp download section */
/* inner pages styles */

.big-title {
    border-bottom: 1px #eeeeee solid !important;
}

.gfs-inner {
    background-color: #fff;
    padding: 3em;
    border-top: 8px solid #a8d05b;
    ;
    margin-top: 40px;
}

.gfs-inner h4 {
    color: #659940;
}

.gfs-inner p {
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
    border-bottom: 1px dashed #f3f3f3;
    padding-bottom: 20px;
}
/* End inner pages styles */
/*styel override */
/*helper styles*/

.center-grid {
    float: none;
    margin: 0 auto;
}

.btn-white {
    background-color: #fff !important;
    color: #8ac344!important;
}

.btn-main {
    color: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    margin: 5px;
    background-color: #8ac344;
}

.btn-main-outline-white {
    color: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    margin: 5px;
    background-color: transparent;
    border: 1px solid #fff;
}

.smart-forms .btn-primary {
    background-color: #8ac344;
}

.font-white {
    color: #fff!important;
}

.mission p {
    color: #fff;
    color: #fff;
    font-size: 1.2em;
    line-height: 2em;
}

.mission h1 {
    color: white;
}
/*







Login and sign Up Page
*/

.gfs-account img {
    width: 20%;
}

.gfs-account h4 {
    float: right;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #6fa971 !important;
    letter-spacing: 0px;
}

.gfs-account .smart-container {
    -webkit-box-shadow: 0 1px 5px rgba(164, 202, 118);
    -moz-box-shadow: 0 1px 5px rgba(164, 202, 118);
    -o-box-shadow: 0 1px 5px rgba(164, 202, 118);
    box-shadow: 0 1px 5px rgb(164, 202, 118);
}

.form-text {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

.form-text a {
    color: #649e1c;
}

.feat {
    background: url(../assets/image/videobg.jpg);
    background-size: cover;
}

.data-card-list__list img {
    width: 40%;
}
/*Media query override */

@media (max-width: 767px) {
    .header__logo img {
        width: 85%;
    }
    .header {
        background: #fff;
        color: #669940;
        font-weight: 500;
        font-size: 14px;
        height: 60px;
    }
    .navbar-right li {
        float: left;
        margin-left: -13px;
    }
    .navbar-right {
        position: absolute;
        top: -10px;
        right: -10px;
        margin: 10px;
        margin-bottom: 15px;
    }
    .gfs-inner {
        padding: 3px;
    }
    .top-details h4 {
        font-size: 13px;
        line-height: 16px;
    }
    .top-details p {
        font-size: 13px;
        line-height: 16px;
    }
    /*
    .slider{top: -60px!important;


}
*/
    /*
    .bar {
padding: 2px;
background-color: #a8d05b;
 position: absolute; 
margin-top: 60px;
}
*/
    .js #menu {
        display: none;
    }
    .js .slicknav_menu {
        display: block;
    }
    .mob-btn {
        display: block;
    }
    a.header__logo {
        margin-left: 10%;
    }
    .js .slicknav_menu li {
        border-bottom: 1px solid #3e711a;
    }
}
/* inner page content */

.wrapper,
.row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.wrapper:before,
.wrapper:after,
.column:before,
.column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#sidebar {
    background-color: #eee;
    padding-left: 0;
    padding-right: 0;
    float: left;
    min-height: 100%;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar>.nav>li>a {
    white-space: nowrap;
    overflow: hidden;
    color: #4f7b30;
}

#main {
    padding: 15px;
    left: 0;
}

#sidebar li {
    border-bottom: 1px #d4d4d4 solid;
}

#sidebar li a.active {
    background-color: #659940;
    color: #fff;
    font-weight: 600;
}

.ft-header {
    color: #2e5f09 !important;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600 !important;
}

.recent-dtn {
    height: 500px;
    background-color: #fff;
    /* border: 6px solid #efefef; */
    margin-top: 10px;
}

 ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.recent-dtn ul {
    height: 90%;
    overflow-y: scroll;
}

.recent-dtn h1 {
    color: white;
    background-color: #94c942;
    text-align: center;
    font-size: 21px;
    padding: 15px;
    margin: 0;
}

.recent-dtn li {
    list-style: none;
    padding: 16px 11px;
    border: 1px solid #94ca42;
    margin: 22px;
    font-weight: 500;
    color: #476716;
}

.recent-dtn li .name {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 25px;
}

.recent-dtn li .time {
    font-size: 12px;
    color: #848282;
    float: right;
}

.recent-dtn li .number {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
}

.recent-dtn .feed {
    display: flex;
    justify-content: flex-start;
}

.recent-dtn .feed img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.recent-dtn .feed .donr-det {
    width: 85%;
}

.recent-dtn .comment {
    font-size: 12px;
    padding-left: 35px;
    color: grey;
    border-top: 1px dashed #d8d2d2;
    padding-top: 3px;
}

.recent-dtn .comment span {
    font-weight: bold;
    margin-right: 5px;
}
/*.recent-dtn li .user{width: 10px; height:10px; background-color: red;}*/
/* site wide pages */

.campaign-success {
    position: relative;
    background-color: #fff;
    float: none;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.complete-icon {
    position: absolute;
    top: -35px;
    left: 36%;
}

.campaign-success h1 {
    font-size: 20px;
    margin: 0;
    color: #3eb501;
    border: 1px dashed #3eb501;
    padding: 10px;
}

.failed h1 {
    font-size: 20px;
    margin: 0;
    color: #d7594a;
    border: 1px dashed #d7594a;
    padding: 10px;
}

.campaign-success p {
    font-size: 18px;
    line-height: 1.7em;
    margin-bottom: 20px;
}

span.camp-title {
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 400;
}

.campaign-details h2 {
    font-size: 19px;
    margin: 0px 1px 9px 0px;
    color: #2e5f09;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px #d0e7ae dashed;
    margin-bottom: 25px;
}

.campaign-details__main {
    float: left;
    padding: 0px;
    font-size: 15px;
}

.campaign-details__main p {
    font-size: 15px;
}

.campaign-details__main span {
    color: #3a6f30;
    font-weight: 600;
    line-height: 1.5em;
}

.campaign-details .gauge {
    padding-left: 5em;
}

.campaign p {
    margin-bottom: 2px;
    color: #528602;
    ;
    font-size: 14px;
}

.campaign p span {
    font-weight: 600;
    margin-right: 5px;
}

.camp-det .nav-tabs {
    border-bottom: 3px solid #e6e6e6;
    margin-bottom: 25px;
}

.camp-det .nav-tabs>li.active>a,
.camp-det .nav-tabs>li.active>a:hover,
.camp-det .nav-tabs>li.active>a:focus {
    color: #555;
    background-color: transparent;
    /* border-bottom: 3px solid red; */
    border-bottom-color: transparent;
    cursor: default;
    border: none;
    font-weight: 600;
}

.camp-det .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 4px 4px 0 0;
    padding: 1em 2em;
}

.camp-det .nav-tabs>li.active,
.camp-det .nav-tabs>li:hover {
    border-bottom: 5px solid #94c842;
    background-color: transparent;
}

.camp-det .nav-tabs>li {
    margin-bottom: -3px;
}

.campaign-details {
    background-color: #fff;
    padding: 27px 18px 0px 27px;
    border-left: 3px #f7b232 solid;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25);
}

#camp-img {
    display: flex;
    flex-wrap: wrap;
}

#camp-img figure {
    max-width: 190px;
    max-height: 190px;
    margin: 15px;
    border: 5px solid #ffffff;
}
/*     
#camp-img figure img {
    display: block;
    max-width: 100%;
    height: auto;
} */

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #71a523;
    color: #fff;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.modal-content {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    z-index: 1000;
}

.file-upload {
    position: relative;
    display: inline-block;
}

.file-upload__label {
    display: block;
    color: #fff;
    background: #70a423;
    border-radius: .4em;
    transition: background .3s;
    cursor: pointer;
    &:hover {
        cursor: pointer;
        background: #000;
    }
}

.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0;
    height: 100%;
    opacity: 0;
}
/* End site wide pages */
/*
* off canvas sidebar
* --------------------------------------------------
*/

@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
        display: none;
    }
    #main {
        width: 100%;
        left: 0;
    }
    #sidebar .visible-xs {
        display: inline !important;
    }
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    .row-offcanvas-left.active {
        left: 45%;
    }
    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -45%;
        position: absolute;
        top: 0;
        width: 45%;
    }
}

@media screen and (min-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-left.active {
        left: 3%;
    }
    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -3%;
        position: absolute;
        top: 0;
        width: 3%;
        text-align: center;
        min-width: 42px;
    }
    #main {
        left: 0;
    }
}

@media (max-width: 767px) {
    #camp-img {
        flex-direction: column;
    }
    #camp-img figure {
        max-width: 100%;
        margin: 15px;
        border: 5px solid #ffffff;
    }
}