body {
    color: #5b5b5b;
    background: #F6F6F6;
    font-family: "Raleway", sans-serif !important; }

a, a:focus, a:hover {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

img {
    max-width: 100%; }

h2 {
    font-size: 30px;
    margin-bottom: 30px; }

h3 {
    font-size: 24px;
    margin-bottom: 30px; }

h4 {
    padding: 0;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.5em; }

p {
    font-size: 16px; }

.light-text {
    font-weight: 300; }

.regular-text {
    font-weight: normal; 
}

.regular-text-left {
    font-weight: normal;
    text-align: left;
}

.pagination {
    display: block;
    margin-top: 15px; }

.pagination ul {
    float: right; }

.pagination ul li {
    float: left;
    list-style: none;
    margin-left: 15px;
    background: #ffffff; }

.pagination ul li a {
    display: block;
    columns: #5b5b5b;
    text-align: center;
    width: 45px;
    line-height: 35px;
    font-weight: 600; }

.pagination ul li a:hover {
    opacity: 0.65; }

.spacer {
    height: 50px;
    display: block; }

.body-holder {
    min-height: 500px; }
.body-holder .blue-text {
    color: #669940; }

.header {

/*  background: #669940;*/
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  height: 70px; }
  .header__holo {
    width: 100%;
    z-index: 9;
    position: absolute;
/*    background: none ; */}
  .header__logo {

    background: #669940;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    height: 70px; }
.header__holo {
    width: 100%;
    z-index: 9;
    position: absolute;
    background: none !important; }
.header__logo {

    line-height: 70px;
    display: inline-block; }
.header .nav a {
    color: #ffffff;
    line-height: 70px;
    height: 70px;
    padding: 0 15px;
    display: inline-block; }
.header .nav a:hover, .header .nav a:focus {
    text-decoration: none;
    opacity: 0.7;
    background: none; }
.header .nav a .fa {
    margin-left: 10px; }
.header .nav label {
    width: 220px;
    height: 30px;
    display: block;
    margin: 20px 15px;
    font-weight: 500;
    color: #ffffff !important;
    border: 1px solid #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
.header .nav label input {
    float: left;
    height: 28px;
    color: #ffffff;
    outline: none;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    background: transparent;
    width: calc(100% - 35px);
    display: inline-block; }
.header .nav label input::-moz-placeholder {
    color: #ffffff; }
.header .nav label input::-webkit-input-placeholder {
    color: #ffffff; }
.header .nav label .addon {
    float: left;
    width: 35px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    display: inline-block; }
.header__user-account {
    background: rgba(255, 255, 255, 0.2);
    height: 70px;
    line-height: 70px;
    padding: 0 15px; }
.header__avatar {
    border: 1px solid #ffffff;
    width: 40px;
    height: 40px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-left: 10px; }



.header__holo {
    width: 100%;
    z-index: 9;
    position: absolute;
    background: #2d5f09 !important;
    color: #ffffff !important;
}
.header {

   background: #2d5f09 !important;
    font-weight: 500;
    font-size: 14px;
    height: 70px;
}

.header__logo {
 background:transparent; 


}
.header .nav a {
    color: #fff;}
.header__logo img { width: 35%; margin-bottom: 8px;}


.footer {
    color: #5b5b5b;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px; }
.footer__menu {
    padding-bottom: 30px;
    border-bottom: 1px solid #d0d0d0; }
.footer a {
    color: #5b5b5b;
    display: inline-block;
    margin: 0 17.5px; }
.footer a:hover {
    color: #669940;
    text-decoration: none; }
.footer__copyright {
    margin-top: 30px;
    margin-bottom: 25px;
    color: #5b5b5b;
    font-weight: 600; }
.footer__socials {
    font-size: 20px; }

.block-list__list {
    width: 100%;
    float: left;
    height: auto;
    color: #959595;
    background: #ffffff;
    margin-bottom: 10px;
    display: block;
    padding: 25px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.block-list__list:hover {
    color: #5b5b5b;
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15); }
.block-list__list .fa {
    font-size: 20px;
    line-height: 40px;
    color: #e5e5e5; }

.block-list__title {
    display: block;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #669940; }

.block-list__info {
    display: block;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500; }

.block-list__left-holder {
    float: left;
    margin-right: 20px; }

.block-list__main-holder {
    float: left; }
@media (max-width: 767px) {
    .block-list__main-holder {
        float: left;
        width: 100%;
        margin-top: 10px; } }

.block-list__right-holder {
    float: right;
    font-size: 14px;
    line-height: 40px;
    margin-left: 15px;
    text-align: right;
    font-weight: 600; }
.block-list__right-holder span.main {
    display: block;
    line-height: 20px;
    margin-bottom: 5px;
    color: #5b5b5b; }

.data-card-list__list {
       -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 30px;
    text-align: center;
    display: block;
    padding: 45px 20px;}
.data-card-list__list-with-icon {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 35px; }
.data-card-list__list-with-icon .data-card-list__icon {
    margin-bottom: 10px;
    text-align: center;
    display: block;
    height: 50px; }
.data-card-list__list-with-icon .data-card-list__title {
    font-size: 30px;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 5px;
    color: #5b5b5b; }
.data-card-list__list-with-icon .data-card-list__info {
    font-size: 18px;
    line-height: 25px;
    color: #b4b4b4; }

.data-card-list__title {
    display: block;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #669940; }

.data-card-list__info {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #5b5b5b; }

.pagetitle {
    float: left;
    width: 100%;
    display: block;
    padding-top: 35px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(208, 208, 208, 0.43); }
.pagetitle__title {
    font-size: 30px;
    line-height: 35px;
    font-weight: 300; }
@media (max-width: 767px) {
    .pagetitle__title {
        width: 100%;
        display: block; } }
.pagetitle__title a {
    font-size: 20px;
    color: #669940;
    font-weight: normal; }
.pagetitle__button, .pagetitle__button-default {
    float: right;
    font-size: 15px;
    margin-left: 10px;
    line-height: 20px;
    padding: 7.5px 20px;
    color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
   
    }
.pagetitle__button .fa, .pagetitle__button-default .fa {
    margin-right: 5px; }
.pagetitle__button:focus, .pagetitle__button-default:focus, .pagetitle__button:hover, .pagetitle__button-default:hover {
    opacity: 0.75;
    color: #ffffff;
    text-decoration: none; }
.pagetitle__button-default {
    padding: 6.5px 20px;
    background: none;
    color: #669940;
    border: 1px solid #669940; }
.pagetitle__button-default:focus, .pagetitle__button-default:hover {
    opacity: 1;
    background: #669940; }
@media (max-width: 767px) {
    .pagetitle__button, .pagetitle__button-default {
        float: left;
        margin-left: 0;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px; } }

.main-title {
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 600;
    color: #5b5b5b; }

.big-title {
    font-size: 36px;
    margin-bottom: 25px;
    font-weight: 600;
    color: #5b5b5b; }

.subtitle {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600; }

.progress-bar, .progress-bar-green, .progress-bar-orange-red, .progress-bar-dusty-orange {
    width: 150px;
    height: 10px;
    display: block;
    border: 1px solid transparent;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
.progress-bar-filler {
    float: left;
    display: block;
    background: transparent;
    width: 100%;
    height: 100%; }
.progress-bar-green {
    border-color: #1e9905; }
.progress-bar-green .progress-bar-filler {
    background: #1e9905; }
.progress-bar-orange-red {
    border-color: #ff4c23; }
.progress-bar-orange-red .progress-bar-filler {
    background: #ff4c23; }
.progress-bar-dusty-orange {
    border-color: #e48930; }
.progress-bar-dusty-orange .progress-bar-filler {
    background: #e48930; }

.tab-menu {
    float: left;
    width: 100%;
    display: block;
    font-size: 16px;
    margin-bottom: 30px;
    color: #5b5b5b;
    border-bottom: 3px solid rgba(208, 208, 208, 0.43); }
.tab-menu__item a {
    float: left;
    line-height: 20px;
    padding: 15px 25px;
    margin-bottom: -3px;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 5px solid transparent; }
.tab-menu__item a:hover {
    border-bottom-color: #CCCB31; }
.tab-menu__item a.active {
    font-size: 18px;
    font-weight: 600;
    border-bottom-color: #669940; }

.form, .form-block {
    display: block;
    margin-bottom: 30px; }
.form label, .form-block label {
    display: block;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px; }
.form label.inline, .form-block label.inline {
    display: inline-block; }
.form label span, .form-block label span {
    display: block;
    margin-bottom: 6px;
    color: #5b5b5b;
    font-weight: 600; }
.form label small, .form-block label small {
    font-size: 12px;
    margin-top: 5px;
    display: block;
    font-weight: 500;
    color: #d0d0d0; }
.form__input, .form__modal-toggle, .form__textarea, .form__select {
    width: 100%;
    height: 45px;
    outline: none;
    color: #959595;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d0d0d0; }
.form__input.borderless, .borderless.form__modal-toggle, .borderless.form__textarea, .form__select.borderless {
    border: none; }
.form__select {
    background: url("../image/dropdown-caret.png") no-repeat center right;
    -webkit-appearance: none; }
.form__modal-toggle {
    text-align: left;
    line-height: 45px;
    display: block; }
.form__modal-toggle .fa {
    line-height: 43px;
    font-size: 35px; }
.form__textarea {
    height: 100px;
    resize: none;
    padding-top: 15px;
    padding-bottom: 15px; }
.form-block {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    padding: 45px;
    width: 100%; }
.form-block-shadow {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.13); }
.form__group aside {
    width: 170px;
    height: 45px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d0d0d0; }
.form__group aside input {
    float: left;
    padding: 0px;
    height: 43px;
    width: calc(100% - 20px); }
.form__group aside .addon {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 20px;
    font-size: 18px;
    line-height: 43px;
    text-align: center;
    font-weight: 600;
    display: inline-block;
    color: #5b5b5b; }
.form__group article {
    height: 45px;
    float: right;
    font-size: 12px;
    padding: 5px 0px;
    display: inline-block;
    color: #669940;
    width: calc(100% - 200px);
    font-weight: 600; }
.form__group article img {
    float: left;
    width: 35px;
    margin-right: 10px; }
.form__group article p {
    margin: 0px;
    float: left;
    max-width: 150px;
    line-height: 16px; }
.form input[type="checkbox"].form__checkbox, .form-block input[type="checkbox"].form__checkbox {
    margin: 0;
    width: 25px;
    height: 25px;
    outline: none;
    cursor: pointer;
    position: relative;
    background: #ffffff;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #d0d0d0;
    -webkit-appearance: textfield; }
.form input[type="checkbox"].form__checkbox:before, .form-block input[type="checkbox"].form__checkbox:before {
    opacity: 0;
    width: 23px;
    height: 23px;
    display: block;
    font-size: 17px;
    content: "\f00c";
    position: relative;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    font-family: FontAwesome; }
.form input[type="checkbox"].form__checkbox:hover, .form-block input[type="checkbox"].form__checkbox:hover {
    border-color: #669940; }
.form input[type="checkbox"].form__checkbox:focus, .form-block input[type="checkbox"].form__checkbox:focus {
    outline: none; }
.form input[type="checkbox"].form__checkbox:checked, .form-block input[type="checkbox"].form__checkbox:checked {
    outline: none;
    background: #669940;
    border-color: #669940; }
.form input[type="checkbox"].form__checkbox:checked:before, .form-block input[type="checkbox"].form__checkbox:checked:before {
    opacity: 1; }

.card-holder {
    position: relative;
    margin-bottom: 25px; }
.card-holder:after {
    content: '';
    height: 8px;
    width: 420px;
    opacity: 0.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    background-color: #000000;
    position: relative;
    z-index: -1; }
.card-holder__card {
    color: #ffffff;
    padding: 30px;
    width: 375px;
    height: 240px;
    display: block;
    background: #c4c4c4;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px; }
.card-holder__card-header {
    float: left;
    width: 100%;
    height: 45px;
    margin-bottom: 15px; }
.card-holder__card-main {
    float: left;
    width: 100%;
    height: 40px;
    margin-bottom: 5px; }
.card-holder__card-main h3 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    font-family: "Clicker Script", cursive; }
.card-holder__card-footer {
    float: left;
    width: 100%; }
.card-holder__card-avatar {
    width: 45px;
    height: 45px;
    float: left;
    background: #e5e5e5;
    margin-right: 15px; }
.card-holder__card-donor-name {
    float: left;
    width: calc(100% - 65px);
    font-size: 24px;
    line-height: 25px;
    font-weight: 600; }
.card-holder__card-donor-name small {
    float: left;
    font-size: 14px;
    line-height: 15px;
    font-weight: normal; }
.card-holder__card-stripe {
    width: 100%;
    height: 40px;
    float: left;
    display: block;
    margin-bottom: 5px;
    background: #F6F6F6; }
.card-holder__card-number {
    width: 100%;
    float: left;
    font-size: 12px;
    display: block;
    margin-bottom: 3px; }
.card-holder__card-footer aside {
    float: left;
    font-size: 14px;
    line-height: 25px; }
.card-holder__card figure {
    float: right; }
.card-holder__card figure img {
    height: 25px; }

.card-intro {
    width: 250px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    color: #959595;
    margin-left: auto;
    margin-right: auto; }
.card-intro.bold-text {
    color: #5b5b5b;
    font-weight: 600; }

.card-editor {
    text-align: center; }
.card-editor__item {
    width: 135px;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px; }
.card-editor__item a {
    display: inline-block;
    text-align: center;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.card-editor__item a aside {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto 10px;
    line-height: 74px;
    border: 3px solid #669940;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    -o-border-radius: 80px;
    border-radius: 80px;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.card-editor__item a span {
    display: block;
    font-size: 12px;
    color: #669940;
    font-weight: 500; }
.card-editor__item a:hover {
    opacity: 0.5; }

.button, .button-green {
    width: auto;
    height: 35px;
    border: none;
    outline: none;
    max-width: 100%;
    font-size: 16px;
    line-height: 20px;
    min-width: 170px;
    padding: 7.5px 25px;
    color: #ffffff !important;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-weight: 600; }
.button:hover, .button-green:hover, .button:active, .button-green:active {
    opacity: 0.75;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 0 20px rgba(27, 202, 149, 0.52);
    -moz-box-shadow: 0 0 20px rgba(27, 202, 149, 0.52);
    -webkit-box-shadow: 0 0 20px rgba(27, 202, 149, 0.52); }
.button:active, .button-green:active {
    background: #14A176; }
.button-green {
    background: #1ccb96; }
.button.block, .block.button-green {
    width: 100%;
    display: block; }
.button.inline, .inline.button-green {
    display: inline-block; }
.button-large {
    width: 100%;
    line-height: 30px;
    height: 45px; }

.page {
    text-align: center;
    margin-bottom: 40px;
    display: block; }

.news-card {
    margin-top: 20px;
    margin-bottom: 20px; }
.news-card__item {
    margin-bottom: 30px;
    background: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden; }
.news-card__item article {
    padding: 20px; }
.news-card__item article h4 {
    margin-top: 0;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #669940; }
.news-card__item article p {
    font-weight: 500;
    color: #959595;
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 12px; }
.news-card__item article em {
    font-weight: 300;
    color: #959595;
    font-style: normal;
    line-height: 1.5;
    font-size: 14px; }

.jumbotroon {
    background: #669940;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 200px 0px;
    padding-top: 70px;
    margin-bottom: 40px;
    background-size: cover !important; }
.jumbotroon h1 {
    font-size: 48px;
    margin-top: 40px; }
.jumbotroon .search {
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
    height: 55px;
    margin-top: 20px;
    border-radius: 3px;
    width: 100%;
    color: #5b5b5b;
    padding: 15px;
    text-align: left;
    font-size: 21px; }
.jumbotroon .search input {
    background: none;
    border: none;
    text-align: left;
    font-size: 21px;
    margin-left: 15px;
    width: 80%; }
.jumbotroon .search .fa {
    font-size: 20px !important; }

.home-section {
    padding: 100px 0; }
.home-section h1 {
    color: #000;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px; }
.home-section h1 small {
    opacity: 1;
    color: #000;
    display: block;
    font-size: 20px;
    margin-top: 10px;
    font-weight: normal; }
.home-section .btn-holder {
    padding: 10px;
    display: inline-block;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    background: rgba(0, 111, 255, 0.31); }
.home-section .play-button {
    padding: 0 40px;
    font-size: 24px;
    line-height: 60px;
    color: #ffffff;
    display: inline-block;
    position: relative;
    background: #669940;
    font-weight: 600;
    box-shadow: 0 0px 10px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0px 10px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0px 10px 4px rgba(0, 0, 0, 0.5);
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px; }
.home-section .play-button .fa {
    margin-right: 10px; }
.home-section.jumbotroon {
    margin: 0px;
    color: #FFFFFF;
    padding: 150px 0; }
.home-section.jumbotroon h1 {
    color: #ffffff;
    margin-bottom: 20px; }
.home-section.jumbotroon h4 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px; }
.home-section.jumbotroon a.button-blue {
    display: block;
    font-size: 18px;
    padding: 0 40px;
    line-height: 60px;
    color: #ffffff;
    background: #669940;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    border: 1px solid #669940;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.home-section.jumbotroon a.button-blue:hover {
    color: #ffffff;
    background: rgba(0, 111, 255, 0.3); }
.home-section.jumbotroon a.button-transparent {
    display: block;
    font-size: 18px;
    padding: 0 40px;
    line-height: 60px;
    color: #ffffff;
    background: transparent;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    border: 1px solid #FFFFFF;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.home-section.jumbotroon a.button-transparent:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.3); }
.home-section.white {
    background: #ffffff; }
.home-section .partner__item {
    padding: 25px 0px;
    margin-bottom: 20px; }
.home-section .partner a {
    color: #669940; }

.campaign-details {
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px; }
.campaign-details__avatar {
    float: left;
    margin-right: 15px; }
.campaign-details__main {
    float: left;
    padding: 12.5px 0px; }
.campaign-details__main .campaign-details__title {
    display: block;
    font-size: 18px;
    font-weight: 600; }
@media (max-width: 767px) {
    .campaign-details__main .campaign-details__title {
        float: left;
        width: 100%;
        display: block;
        margin-top: 10px; } }
.campaign-details__main .campaign-details__meta {
    display: block;
    font-size: 14px;
    font-weight: 300; }
.campaign-details__right-holder {
    float: right;
    padding: 15px 0px; }
.campaign-details__right-holder .campaign-details__text {
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    margin-bottom: 10px;
    color: #5b5b5b;
    font-weight: 600; }

.campaign-success {
    padding-top: 75px;
    padding-bottom: 50px; }


.data-card-list {
    margin-bottom: 30px; }

.form-page {
    margin-top: 70px; }
.form-page h1 {
    font-weight: normal; }

.partner-profile {
    margin-bottom: 30px; }
.partner-profile__info-card {
    margin: 0;
    padding: 0; }
.partner-profile__info-card li {
    display: inline-block;
    list-style: none;
    margin-right: 30px;
    text-align: center; }
.partner-profile__info-card li .main {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #5b5b5b; }
.partner-profile__info-card li .info {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #959595; }
.partner-profile p {
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 30px; }

.how-it-works__item figure {

  overflow: visible;
  position: relative;
  margin-bottom: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }


/*.how-it-works__item figure:after {
    
    content: url(../assets/image/arrow.svg);
    position: absolute;
    top: 30%;
    right: -115px;
    width: 74%;
    z-index: 10000;
   
   }*/


  .how-it-works__item figure figcaption {

    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
.how-it-works__item figure figcaption {

    top: calc(50% - 12px);
    z-index: 2;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.89); }

.how-it-works__item h5 {

  padding: 0px;
  margin: 15px 0px;
  font-size: 18px;
  font-weight: 600; color: #2e5f09;}
  .how-it-works__item h5 a {

    padding: 0px;
    margin: 15px 0px;
    font-size: 18px;
    font-weight: 600; }
.how-it-works__item h5 a {

    font-size: 18px;
    color: #669940; }

.how-it-works__item a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #669940; }
.how-it-works__item a:hover {
    text-decoration: underline; }

.help-center ul {
    margin: 0;
    padding: 0; }
.help-center ul li {
    list-style: none;
    margin-bottom: 20px; }
.help-center ul a {
    color: #669940;
    list-style: none;
    font-size: 14px;
    font-weight: 600; }
